<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings file="App.secret.config">
    <add key="TwitterConsumerKey" value=""/>
    <add key="TwitterConsumerSecret" value=""/>
    <add key="TwitterAccessToken" value=""/>
    <add key="TwitterAccessSecret" value=""/>
    <add key="DropboxAccessToken" value=""/>
  </appSettings>
</configuration>